/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101  NOTE: WORK IN PROGRESS USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }


@font-face                              { font-family: 'Simple-Theme-Icons'; src: url('fonts/Simple-Theme-Icons.eot'); src: url('fonts/Simple-Theme-Icons.eot?#iefix') format('embedded-opentype'), url('fonts/Simple-Theme-Icons.woff') format('woff'), url('fonts/Simple-Theme-Icons.ttf') format('truetype'), url('fonts/Simple-Theme-Icons.svg#Simple-Theme-Icons') format('svg'); font-weight: normal; font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before                      { font-family: 'Simple-Theme-Icons'; content: attr(data-icon); speak: none; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; }
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-home:before, .icon-play:before, .icon-music:before, .icon-camera:before, .icon-copy:before, .icon-cart:before, .icon-phone:before, .icon-alarm:before, .icon-tag:before, .icon-arrow-right:before, .icon-arrow-left:before, .icon-arrow-up:before, .icon-bubbles:before, .icon-image:before, .icon-envelope:before, .icon-calendar:before, .icon-location:before, .icon-attachment:before, .icon-cancel-circle:before, .icon-user:before, .icon-cloud:before, .icon-feed:before, .icon-close:before, .icon-minus:before, .icon-heart:before, .icon-pie:before, .icon-stats:before, .icon-briefcase:before, .icon-newspaper:before, .icon-rocket:before, .icon-loop:before, .icon-star:before, .icon-bookmark:before, .icon-remove:before, .icon-cog:before, .icon-copy-2:before, .icon-unlocked:before, .icon-redo:before, .icon-undo:before, .icon-key:before, .icon-wine:before, .icon-weight_lifting:before, .icon-tree:before, .icon-tools:before, .icon-running:before, .icon-pencil:before, .icon-microphone:before, .icon-lightbulb:before, .icon-food:before, .icon-brain:before, .icon-beaker:before, .icon-eye:before, .icon-bubble:before, .icon-share:before, .icon-checkmark:before, .icon-checkmark-2:before, .icon-coffee:before, .icon-folder-open:before
                                        { font-family: 'Simple-Theme-Icons'; speak: none; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; }
.icon-home:before                       { content: "\e04f" }
.icon-play:before                       { content: "\e050" }
.icon-music:before                      { content: "\e052" }
.icon-camera:before                     { content: "\e053" }
.icon-copy:before                       { content: "\e054" }
.icon-cart:before                       { content: "\e055" }
.icon-phone:before                      { content: "\e056" }
.icon-alarm:before                      { content: "\e001" }
.icon-tag:before                        { content: "\e000" }
.icon-arrow-right:before                { content: "\e002" }
.icon-arrow-left:before                 { content: "\e004" }
.icon-arrow-up:before                   { content: "\e005" }
.icon-bubbles:before                    { content: "\e008" }
.icon-image:before                      { content: "\e009" }
.icon-envelope:before                   { content: "\e00e" }
.icon-calendar:before                   { content: "\e007" }
.icon-location:before                   { content: "\e00a" }
.icon-attachment:before                 { content: "\e00f" }
.icon-cancel-circle:before              { content: "\e010" }
.icon-user:before                       { content: "\e014" }
.icon-cloud:before                      { content: "\e012" }
.icon-feed:before                       { content: "\e015" }
.icon-close:before                      { content: "\e016" }
.icon-minus:before                      { content: "\e018" }
.icon-heart:before                      { content: "\e017" }
.icon-pie:before                        { content: "\e019" }
.icon-stats:before                      { content: "\e01a" }
.icon-briefcase:before                  { content: "\e01b" }
.icon-newspaper:before                  { content: "\e01c" }
.icon-rocket:before                     { content: "\e003" }
.icon-loop:before                       { content: "\e01f" }
.icon-star:before                       { content: "\e01d" }
.icon-bookmark:before                   { content: "\e021" }
.icon-remove:before                     { content: "\e022" }
.icon-cog:before                        { content: "\e023" }
.icon-copy-2:before                     { content: "\e006" }
.icon-unlocked:before                   { content: "\e01e" }
.icon-redo:before                       { content: "\e024" }
.icon-undo:before                       { content: "\e025" }
.icon-key:before                        { content: "\e00d" }
.icon-wine:before                       { content: "\e00c" }
.icon-weight_lifting:before             { content: "\e011" }
.icon-tree:before                       { content: "\e013" }
.icon-tools:before                      { content: "\e00b" }
.icon-running:before                    { content: "\e026" }
.icon-pencil:before                     { content: "\e027" }
.icon-microphone:before                 { content: "\e028" }
.icon-lightbulb:before                  { content: "\e029" }
.icon-food:before                       { content: "\e02a" }
.icon-brain:before                      { content: "\e02b" }
.icon-beaker:before                     { content: "\e02c" }
.icon-eye:before                        { content: "\e02d" }
.icon-bubble:before                     { content: "\e02e" }
.icon-share:before                      { content: "\e020" }
.icon-checkmark:before                  { content: "\e02f" }
.icon-checkmark-2:before                { content: "\e030" }
.icon-coffee:before                     { content: "\e032" }
.icon-folder-open:before                { content: "\e031" }


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; } 
strong { font-weight:bold; } 
em { font-style:italic; }

/*	Social-Igniter : Theme : site_simple 
*	Author : Brennan Novak
* 	Contact : contact@social-igniter.com 
*/
* { margin: 0; }
body 		{ height: 100%; margin: 0; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; }
h1			{ font-size: 60px; line-height: 60px; margin: 0; padding: 0px; font-weight: bold; }
h2 			{ font-size: 36px; line-height: 36px; margin: 35px 0 0 0; padding: 0px; font-weight: bold; }
h3	 		{ font-size: 30px; line-height: 30px; margin: 35px 0 0 0; padding: 0px; font-weight: bold; }
h4		 	{ font-size: 21px; margin: 0; font-weight: bold; }
p 			{ margin: 25px 0; }
ul			{ margin: 0px; padding: 0px 0px 0px 20px; list-style-type: square; }
ul li		{ margin: 0px; padding: 0px; }
blockquote	{ border-left: 8px solid #D9D9D9; padding: 5px 0 5px 25px; margin: 25px 0; font-style: italic; }

label		{ display: block; font-weight: bold; font-size: 14px; line-height: 21px; }

input[type=text], input[type=password], input[type=email], input[type=url] { height: 28px; background: #fff; font-size: 13px; font-family: Arial, Helvetica, sans-serif; margin: 0 10px 10px 0; padding: 0 10px; border-radius: 3px; outline: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid #999; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus { height: 28px; background: #fff; margin: 0 10px 10px 0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid #cccccc; outline: none; -moz-box-shadow: 0 0 3px #333; -webkit-box-shadow: 0 0 3px #333; box-shadow: 0 0 3px #333; }

textarea 					{ background: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 10px; border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #cccccc; outline: none; }
textarea:focus 				{ background: #ffffff; outline: none; -moz-box-shadow: 0 0 4px #c3c3c3; -webkit-box-shadow: 0 0 4px #c3c3c3; box-shadow: 0 0 4px #c3c3c3; }

.clear 		{ clear: both; }
.hide		{ display: none; }
.wrapper 	{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -440px; }

#content_message				{ width: 100%; display: none; margin: 15px 0; font-size: 14px; font-weight: bold; }

div.message_normal				{ padding: 0; }
div.message_error				{ padding: 12px 15px; background: #B50606; color: #000000; }
div.message_alert				{ padding: 12px 15px; background: #f8eb00; color: #000000; }
div.message_success				{ padding: 12px 15px; background: #479e45; color: #fbedbd; }

/* Navbar */
#navbar 						{ width: 100%; height: 50px; margin: 0; }
#navbar a						{ font-size: <?= config_item('design_font_size') ?>; font-weight: bold; letter-spacing: 1px; text-decoration: none; }
#navbar_left_index				{ float: left; position: relative; top: 13px; left: 35px; font-size: 21px; line-height: 21px; }
#navbar_left_index span			{ position: relative; top: -3px; left: 0px; margin-left: 10px; font-size: 14px; line-height: 14px; }
#navbar_left					{ float: left; position: relative; top: 4px; left: 18px; }
#navbar_right					{ float: right; position: relative; top: 14px; right: 30px; list-style-type: none; }
#navbar_right li				{ float: left; margin-left: 25px; }
span.navbar_text				{ position: relative; top: -8px; left: 12px; }

/* Pages */
#container						{ width: 90%; min-height: 450px; margin: 35px; }
#container h2					{ margin: 25px 0 15px 0; }
#container ul					{ margin: 15px 0 0 20px; }
#container p					{ margin: 25px 0 15px 0; }
#container table				{ margin: 25px 0 0 0; }
#container table td				{ padding: 15px 15px 15px 0;  }

#title 							{ border-bottom: 3px solid #d9d9d9; margin: 0; padding: 0; }
#sub_title						{ margin: 5px 0 15px 0; }
#published_date					{ display: block; float: right;  color: #999999; font-style: italic; }

#basic_image_gallery			{ margin: 25px 0; }

#navigator			{ margin: 60px 0 0 0; }
#post_links			{ border-top: 3px solid #d9d9d9; border-bottom: 3px solid #d9d9d9;  margin: 20px 0 0 0; padding: 20px 0; }
#post_links a 		{ display:block; float: left; margin: 0 20px 0 0; }
span.citation_link	{ display: block; font-size: 12px; font-style: italic; margin: 15px 0 !important; float: right; }

#share_table		{ margin: 40px 0 10px 0; }
#share_table h4		{ margin: 0 0 20px 0; }

