/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101  NOTE: WORK IN PROGRESS USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }


@font-face {
	font-family: 'Simple-Theme-Icons';
	src:url('fonts/Simple-Theme-Icons.eot');
	src:url('fonts/Simple-Theme-Icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/Simple-Theme-Icons.svg#Simple-Theme-Icons') format('svg'),
		url('fonts/Simple-Theme-Icons.woff') format('woff'),
		url('fonts/Simple-Theme-Icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Simple-Theme-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-home:before, .icon-newspaper:before, .icon-camera:before, .icon-music:before, .icon-bell:before, .icon-calendar:before, .icon-phone:before, .icon-mail:before, .icon-mobile:before, .icon-forward:before, .icon-reply:before, .icon-reply-2:before, .icon-comments:before, .icon-comments-2:before, .icon-user:before, .icon-undo:before, .icon-redo:before, .icon-tag:before, .icon-cart:before, .icon-search:before, .icon-key:before, .icon-equalizer:before, .icon-cog:before, .icon-pie:before, .icon-bars:before, .icon-stats-up:before, .icon-flag:before, .icon-attachment:before, .icon-grid-view:before, .icon-thumbs-up:before, .icon-thumbs-down:before, .icon-feed:before, .icon-cancel:before, .icon-checkmark:before, .icon-minus:before, .icon-plus:before, .icon-bookmark:before, .icon-eye:before, .icon-cloud:before, .icon-link:before, .icon-lightning:before, .icon-star:before, .icon-coffee:before, .icon-briefcase:before, .icon-camera-2:before, .icon-mic:before, .icon-rocket:before, .icon-wrench:before, .icon-key-2:before, .icon-locked:before, .icon-support:before, .icon-share:before, .icon-share-2:before, .icon-cancel-2:before, .icon-blocked:before, .icon-loop:before, .icon-arrow-down:before, .icon-arrow-up:before, .icon-arrow-right:before, .icon-arrow-left:before, .icon-remove:before, .icon-clipboard:before, .icon-location:before, .icon-gift:before, .icon-arrow-up-2:before, .icon-arrow-right-2:before, .icon-arrow-down-2:before, .icon-arrow-left-2:before, .icon-heart:before, .icon-copy:before, .icon-zoom-in:before, .icon-zoom-out:before, .icon-pictures:before, .icon-tools:before, .icon-lightbulb:before, .icon-beaker:before, .icon-pencil:before {
	font-family: 'Simple-Theme-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-newspaper:before {
	content: "\e002";
}
.icon-camera:before {
	content: "\e003";
}
.icon-music:before {
	content: "\e005";
}
.icon-bell:before {
	content: "\e006";
}
.icon-calendar:before {
	content: "\e007";
}
.icon-phone:before {
	content: "\e008";
}
.icon-mail:before {
	content: "\e009";
}
.icon-mobile:before {
	content: "\e00b";
}
.icon-forward:before {
	content: "\e00c";
}
.icon-reply:before {
	content: "\e00d";
}
.icon-reply-2:before {
	content: "\e00e";
}
.icon-comments:before {
	content: "\e010";
}
.icon-comments-2:before {
	content: "\e00f";
}
.icon-user:before {
	content: "\e012";
}
.icon-undo:before {
	content: "\e011";
}
.icon-redo:before {
	content: "\e013";
}
.icon-tag:before {
	content: "\e014";
}
.icon-cart:before {
	content: "\e015";
}
.icon-search:before {
	content: "\e017";
}
.icon-key:before {
	content: "\e018";
}
.icon-equalizer:before {
	content: "\e019";
}
.icon-cog:before {
	content: "\e01a";
}
.icon-pie:before {
	content: "\e01b";
}
.icon-bars:before {
	content: "\e01c";
}
.icon-stats-up:before {
	content: "\e01d";
}
.icon-flag:before {
	content: "\e01e";
}
.icon-attachment:before {
	content: "\e01f";
}
.icon-grid-view:before {
	content: "\e021";
}
.icon-thumbs-up:before {
	content: "\e022";
}
.icon-thumbs-down:before {
	content: "\e023";
}
.icon-feed:before {
	content: "\e026";
}
.icon-cancel:before {
	content: "\e02d";
}
.icon-checkmark:before {
	content: "\e02e";
}
.icon-minus:before {
	content: "\e02f";
}
.icon-plus:before {
	content: "\e030";
}
.icon-bookmark:before {
	content: "\e031";
}
.icon-eye:before {
	content: "\e032";
}
.icon-cloud:before {
	content: "\e033";
}
.icon-link:before {
	content: "\e034";
}
.icon-lightning:before {
	content: "\e035";
}
.icon-star:before {
	content: "\e037";
}
.icon-coffee:before {
	content: "\e038";
}
.icon-briefcase:before {
	content: "\e03a";
}
.icon-camera-2:before {
	content: "\e03b";
}
.icon-mic:before {
	content: "\e03c";
}
.icon-rocket:before {
	content: "\e03e";
}
.icon-wrench:before {
	content: "\e03f";
}
.icon-key-2:before {
	content: "\e040";
}
.icon-locked:before {
	content: "\e041";
}
.icon-support:before {
	content: "\e042";
}
.icon-share:before {
	content: "\e045";
}
.icon-share-2:before {
	content: "\e046";
}
.icon-cancel-2:before {
	content: "\e047";
}
.icon-blocked:before {
	content: "\e048";
}
.icon-loop:before {
	content: "\e043";
}
.icon-arrow-down:before {
	content: "\e049";
}
.icon-arrow-up:before {
	content: "\e04a";
}
.icon-arrow-right:before {
	content: "\e04b";
}
.icon-arrow-left:before {
	content: "\e04c";
}
.icon-remove:before {
	content: "\e024";
}
.icon-clipboard:before {
	content: "\e020";
}
.icon-location:before {
	content: "\e00a";
}
.icon-gift:before {
	content: "\e027";
}
.icon-arrow-up-2:before {
	content: "\e028";
}
.icon-arrow-right-2:before {
	content: "\e029";
}
.icon-arrow-down-2:before {
	content: "\e02a";
}
.icon-arrow-left-2:before {
	content: "\e02b";
}
.icon-heart:before {
	content: "\e02c";
}
.icon-copy:before {
	content: "\e025";
}
.icon-zoom-in:before {
	content: "\e036";
}
.icon-zoom-out:before {
	content: "\e03d";
}
.icon-pictures:before {
	content: "\e016";
}
.icon-tools:before {
	content: "\e004";
}
.icon-lightbulb:before {
	content: "\e039";
}
.icon-beaker:before {
	content: "\e044";
}
.icon-pencil:before {
	content: "\e04d";
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; } 
strong { font-weight:bold; } 
em { font-style:italic; }

/*	Social-Igniter : Theme : site_simple 
*	Author : Brennan Novak
* 	Contact : contact@social-igniter.com 
*/
* { margin: 0; }
body 		{ height: 100%; margin: 0; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; }
h1			{ font-size: 60px; line-height: 60px; margin: 0; padding: 0px; font-weight: bold; }
h2 			{ font-size: 36px; line-height: 36px; margin: 35px 0 0 0; padding: 0px; font-weight: bold; }
h3	 		{ font-size: 30px; line-height: 30px; margin: 35px 0 0 0; padding: 0px; font-weight: bold; }
h4		 	{ font-size: 21px; margin: 0; font-weight: bold; }
p 			{ margin: 25px 0; }
ul			{ margin: 0px; padding: 0px 0px 0px 20px; list-style-type: square; }
ul li		{ margin: 0px; padding: 0px; }
blockquote	{ border-left: 8px solid #D9D9D9; padding: 5px 0 5px 25px; margin: 25px 0; font-style: italic; }

label		{ display: block; font-weight: bold; font-size: 14px; line-height: 21px; }

input[type=text], input[type=password], input[type=email], input[type=url] { height: 28px; background: #fff; font-size: 13px; font-family: Arial, Helvetica, sans-serif; margin: 0 10px 10px 0; padding: 0 10px; border-radius: 3px; outline: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid #999; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus { height: 28px; background: #fff; margin: 0 10px 10px 0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid #cccccc; outline: none; -moz-box-shadow: 0 0 3px #333; -webkit-box-shadow: 0 0 3px #333; box-shadow: 0 0 3px #333; }

textarea 					{ background: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 10px; border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #cccccc; outline: none; }
textarea:focus 				{ background: #ffffff; outline: none; -moz-box-shadow: 0 0 4px #c3c3c3; -webkit-box-shadow: 0 0 4px #c3c3c3; box-shadow: 0 0 4px #c3c3c3; }

.clear 		{ clear: both; }
.hide		{ display: none; }
.wrapper 	{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -440px; }

#content_message				{ width: 100%; display: none; margin: 15px 0; font-size: 14px; font-weight: bold; }

div.message_normal				{ padding: 0; }
div.message_error				{ padding: 12px 15px; background: #B50606; color: #000000; }
div.message_alert				{ padding: 12px 15px; background: #f8eb00; color: #000000; }
div.message_success				{ padding: 12px 15px; background: #479e45; color: #fbedbd; }


#navbar_left_index					{ float: left; position: relative; top: 6px; left: 35px; }
#navbar_left_index img 				{ height: 28px; }
#navbar_left						{ float: left; position: relative; top: 4px; left: 18px; }
#navbar_right						{ float: right; position: relative; top: 10px; right: 28px; list-style-type: none; }
#navbar_right li					{ float: left; margin-left: 25px; }
span.navbar_text					{ position: relative; top: -8px; left: 12px; }

/* Pages */
#container			{ width: 90%; margin: 35px; }
#container h2		{ margin: 25px 0 15px 0; }
#container ul		{ margin: 15px 0 0 20px; }
#container p		{ margin: 25px 0 15px 0; }
#container table	{ margin: 25px 0 0 0; }
#container table td	{ padding: 15px 15px 15px 0;  }

#title 				{ border-bottom: 3px solid #d9d9d9; margin: 0; padding: 0; }
#sub_title			{ margin: 5px 0 15px 0; }
#published_date		{ display: block; float: right;  color: #999999; font-style: italic; }

#basic_image_gallery{ margin: 25px 0; }

#navigator			{ margin: 60px 0 0 0; }
#post_links			{ border-top: 3px solid #d9d9d9; border-bottom: 3px solid #d9d9d9;  margin: 20px 0 0 0; padding: 20px 0; }
#post_links a 		{ display:block; float: left; margin: 0 20px 0 0; }
span.citation_link	{ display: block; font-size: 12px; font-style: italic; margin: 15px 0 !important; float: right; }

#share_table		{ margin: 40px 0 10px 0; }
#share_table h4		{ margin: 0 0 20px 0; }

