/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101  NOTE: WORK IN PROGRESS USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; } 
strong { font-weight:bold; } 
em { font-style:italic; }

/*	Social-Igniter : Theme : site_simple 
*	Author : Brennan Novak
* 	Contact : contact@social-igniter.com 
*/
* { margin: 0; }
body 		{ height: 100%; margin: 0; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; }
h1			{ font-size: 60px; line-height: 60px; margin: 0; padding: 0px; font-weight: bold; }
h2 			{ font-size: 36px; line-height: 36px; margin: 35px 0 0 0; padding: 0px; font-weight: bold; }
h3	 		{ font-size: 30px; line-height: 30px; margin: 35px 0 0 0; padding: 0px; font-weight: bold; }
h4		 	{ font-size: 21px; margin: 0; font-weight: bold; }
p 			{ margin: 25px 0; }
ul			{ margin: 0px; padding: 0px 0px 0px 20px; list-style-type: square; }
ul li		{ margin: 0px; padding: 0px; }
blockquote	{ border-left: 8px solid #D9D9D9; padding: 5px 0 5px 25px; margin: 25px 0; font-style: italic; }

.clear 		{ clear: both; }
.hide		{ display: none; }
.wrapper 	{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -440px; }

#content_message				{ width: 100%; display: none; margin: 15px 0; font-size: 14px; font-weight: bold; }

div.message_normal				{ padding: 0; }
div.message_error				{ padding: 12px 15px; background: #B50606; color: #000000; }
div.message_alert				{ padding: 12px 15px; background: #f8eb00; color: #000000; }
div.message_success				{ padding: 12px 15px; background: #479e45; color: #fbedbd; }


#navbar_left_index					{ float: left; position: relative; top: 6px; left: 35px; }
#navbar_left_index img 				{ height: 28px; }
#navbar_left						{ float: left; position: relative; top: 4px; left: 18px; }
#navbar_right						{ float: right; position: relative; top: 10px; right: 28px; list-style-type: none; }
#navbar_right li					{ float: left; margin-left: 25px; }
span.navbar_text					{ position: relative; top: -8px; left: 12px; }

/* Pages */
#container			{ width: 90%; margin: 35px; }
#container h2		{ margin: 25px 0 15px 0; }
#container ul		{ margin: 15px 0 0 20px; }
#container p		{ margin: 25px 0 15px 0; }
#container table	{ margin: 25px 0 0 0; }
#container table td	{ padding: 15px 15px 15px 0;  }

#title 				{ border-bottom: 3px solid #d9d9d9; margin: 0; padding: 0; }
#sub_title			{ margin: 5px 0 15px 0; }
#published_date		{ display: block; float: right;  color: #999999; font-style: italic; }

#basic_image_gallery{ margin: 25px 0; }

#navigator			{ margin: 60px 0 0 0; }
#post_links			{ border-top: 3px solid #d9d9d9; border-bottom: 3px solid #d9d9d9;  margin: 20px 0 0 0; padding: 20px 0; }
#post_links a 		{ display:block; float: left; margin: 0 20px 0 0; }
span.citation_link	{ display: block; font-size: 12px; font-style: italic; margin: 15px 0 !important; float: right; }

#share_table		{ margin: 40px 0 10px 0; }
#share_table h4		{ margin: 0 0 20px 0; }

